.profile__button-edit {
  margin-top: 6px;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  grid-area: button-edit;
  background-image: url("../../../image/profile/vector_add.svg");
  background-size: 7.5px;
  background-repeat: no-repeat;
  background-position: center;
  }
@media (min-width: 768px) {
  .profile__button-edit {
    background-size: 10px;
    width: 24px;
    height: 24px;
  }
}
