.footer__copyright {
  margin: 0 19px 36px;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #545454;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 18px;
    line-height: calc(22 / 18);
    margin: 15px 19px 60px;
  }
}
@media (min-width: 898px) {
  .footer__copyright {
    margin: 6px 0 60px;
  }
}
