.header__logo {
  display: flex;
  width: 104px;
  height: 25px;
  margin: 0 0 0 27px;
}
@media (min-width: 768px) {
  .header__logo {
    width: 142px;
    height: 33px;
  }
}
@media (min-width: 907px) {
  .header__logo {
    margin: 0;
  }
}
