.card__button_like {
  align-self: center;
  flex: 0 0 22px;
  background-color: transparent;
  border: none;
  padding: 0;
  height: 19px;
  background-image: url("../../../image/Gallery/Group.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease 0.2s;
}
.card__button_like:hover {
  opacity: 0.6;
}
