.profile__button_add_img {
  width: 16px;
  height: 16px;
  background: url("../../../../image/profile/Vector_add.svg") center no-repeat;
}
@media (min-width: 768px) {
  .profile__button_add_img {
    width: 22px;
    height: 22px;
  }
}
