.card__button-remove {
  background-color: transparent;
  border: none;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease 0.2s;
  cursor: pointer;
  background-image: url("../../../image/gallery/Trash.svg");
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.card__button-remove:hover {
  opacity: .6;
}
