.profile__specialization {
  margin: 0;
  font-size: 14px;
  line-height: calc(17 / 14);
  grid-area: specialization;
}
@media (min-width: 768px) {
  .profile__specialization {
    font-size: 18px;
  }
}
