.profile__button_edit {
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  grid-area: button_edit;
  }
@media (min-width: 768px) {
  .profile__button_edit {
    width: 24px;
    height: 24px;
  }
}
