.profile__button_edit_img {
  width: 7.5px;
  height: 7.5px;
  background: url("../../../../image/profile/Vector.svg") center no-repeat;
}
@media (min-width: 768px) {
  .profile__button_edit_img {
    width: 10px;
    height: 10px;
  }
}
