.card__button-like {
  align-self: center;
  margin: 0 0 3px 0;
  border: none;
  padding: 0;
  height: 19px;
  width: 22px;
  background: transparent url("../../../image/gallery/group.svg") center / cover no-repeat;
  transition: ease 0.2s;
  cursor: pointer;
}
.card__button-like:hover {
  opacity: 0.5;
}
