.popup__title {
  margin: 0 0 48px;
  font-weight: 900;
  font-size: 18px;
  line-height: calc(22 / 18);
}
@media (min-width: 768px) {
  .popup__title {
    margin: 0 0 48px;
    font-weight: 900;
    font-size: 24px;
    line-height: calc(29 / 24);
  }
}
