.popup__submit {
  box-sizing: border-box;
  width: 100%;
  min-height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  font-size: 14px;
  line-height: calc(22 / 18);
  border: none;
  transition: ease 0.2s;
  padding: 0;
  cursor: pointer;
  border-radius: 2px;
}
.popup__submit:hover {
  opacity: 0.8;
}
@media (min-width: 500px) {
  .popup__submit {
    min-height: 50px;
    font-size: 18px;
  }
}
